#dashboardPage{
    .dash-content{
        display: flex;
        justify-content: space-between;
        .dash-containers{
            // box-sizing: border-box;

            &.job-post{
                flex-basis: 24%;
            }
            &.candidate{
                flex-basis: 24%;
            }
            &.schedule{
                flex-basis: 50%;
            }
        }
    }

    .dash-label{
        font-size: 14px;
        font-weight: 600;
    }

    .dash-list{
        list-style: none;
        padding: 0;
        margin-top: 15px;

        li{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 5px;
        }
        li.sub{
            padding-left: 15px;
        }
    }

    .most-applied{
        .dash-list{
            li{
                flex-direction: column;
                span{
                    font-size: 12px;
                }
            }
        }
    }

}