#loginPage{
    .flex-1 {
        flex: 1;
    }
    .gradient-background {
        background-image: linear-gradient( $main-blue , $main-green );
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .logo {
            height: 30vh;
        }
        .centered {
            text-align: center;
            .title {
                color: white;
                font-size: 45px;
                font-weight: bold;
            }
            .subtitle {
                color: white;
                font-size: 25px;
            }
        }
    }

    .form {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .form-container {
            border: 1px solid #DDD7D7;
            min-height: 10vh;
            width: 60vh;
            border-radius: 20px;
            padding: 30px;
            box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12)
            ;
            .title {
                color: #1B74E2;
                font-size: 25px;
            }
        }
    }

}