.login-layout{
    // background-image: linear-gradient( $main-blue , $main-green );
    .background-logo{
        opacity: 0.2;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
        width: 70vh;
    }


    .ant-layout{
        background: transparent;
        height: 100vh;
    }

    .ant-layout-content{
        display: flex;
    }

    .ant-form-item{
        margin-bottom: 0px;
        &.no-label{
            label{
                visibility: hidden;
            }
        }
        .ant-form-item-label{
            label{
                font-weight: bold;
            }
        }
    }


}