#registerPage{

    .sign-up-type{
        margin: 30px 0px;
        .ant-radio-group{
            display: flex;
            label{
                flex: 1;
                height: 40px;
                line-height: 2.4em;
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                &:first-child{
                    border-radius: 20px 0px 0px 20px;
                }
                &:last-child{
                    border-radius: 0px 20px 20px 0px;
                }
            }
        }
    }

    .register-form{
        width: 600px;
        background-color: rgba($color: #ccc, $alpha: 0.7);
        padding : 20px;
        border-radius: 10px;
        border: solid 1px #ccc;
        z-index: 1;
    }
    .fileUploader{
        height: 100px;
        background-color: grey;
        b{
            display: block;
            text-align: center;
            padding-top: 40px;
        }
    }

    .flex-1 {
        flex: 1;
    }

    .gradient-background {
        background-image: linear-gradient( $main-blue , $main-green );
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .flex-row {
            display: flex;
            flex-direction: row;
        }
        .logo {
            height: 10vh;
            object-fit: contain;
        }
        .artwork {
            height: 40vh;
            object-fit: contain;
        }
        .title {
            color: white;
            font-size: 45px;
            font-weight: bold;
        }
        .subtitle {
            color: white;
            font-size: 35px;
        }
    }

    .form {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .form-container {
            border: 1px solid #DDD7D7;
            height: auto;
            width: 60vh;
            border-radius: 20px;
            padding: 30px;
            box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12)
            ;
            .title {
                color: #1B74E2;
                font-size: 25px;
            }
        }
    }
    
}