/*Vars*/
@import '_vars';
/* Layout */
@import 'register-layout';
@import 'dashboard-layout';

/*Pages*/
@import 'register';
@import 'login';
@import 'dashboard';

/*General*/

button.ant-btn{
    height: 45px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 22px;
}

input.ant-input{
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
}

.ant-form-item-control.has-error{
    .ant-form-explain{
        text-indent: 15px;
        margin-top: 5px;
        font-size: 12px;
    }
}

footer.ant-layout-footer{
    padding: 15px 50px;
    p{
        margin-bottom: 0px;
    }
}

#global-loader{
    background-color: rgba(255, 255, 255, 0.3);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

header.ant-layout-header{
    
    display: flex;
    line-height: initial;
    align-items: center;
    background-image: linear-gradient( to right, $main-green , $main-blue );

    .logo{
        flex: 1;
        a{
            display: flex;
            align-items: center;
        }
        
        img{ 
            width: 35px; 
            height: 35px;
        }
        
        .logo-text{
            font-weight: bold;
            color: #fff;
            font-size: 20px;
            margin-left: 5px;
            letter-spacing: 1px;
        }
    }

    .menu-wrapper{
        flex: 6;
    }

    .profile-icon-wrapper{
        flex : 1;
        display: flex;
        justify-content: flex-end;
        span{
            margin-right: 5px;
            font-weight: bold;
            color: #fff;
        }
        img {
            width: 30px;
        }
    }

    .ant-menu{
        background: transparent;
        .ant-menu-item{
            font-weight: bold;
            font-size: 16px;
            color: #fff;
            letter-spacing: 1.5px;
            a{
                color: #fff;
            }
        }
    }

}